.workGrid {
    align-items: center;
    position: relative;
}
.flexContainer {
    align-items: center;
    display: flex;
    position: relative;
  }
  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }